<div class="about-container">
    <div class="content">
        <div class="title-content">
            <!-- <img class="profile-image" src="assets/images/group_2.png" alt="profile"> -->
            <img class="profile-image" src="assets/images/image_1.svg" alt="profile">
            <div class="line"></div>
            <div class="title">
                <h1 class="first-name">Andrew</h1>
                <h1 class="last-name">Beattie</h1>
            </div>
        </div>
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum quam vitae finibus elementum.
                Cras
                iaculis malesuada ante quis hendrerit.
            </p>
            <p>
                Mauris sed ex vel sapien placerat rhoncus sit amet vitae nibh. Nulla maximus est neque. Fusce eget
                commodo leo.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut felis nunc, dignissim ac rutrum eu,
                imperdiet
                in
                neque.
            </p>
        </div>
    </div>
    <!-- <div class="main-image-content">
        <div class="line-2"></div>
    </div> -->
</div>